* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    height: 650vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.header {
    height: 40px;
    width: 85vw;
    margin-top: 78px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 136px;
    height: 40px;
    font-size: 16px;
    line-height: 21.79px;
    color: #FF52CC;
    border-radius: 20px;
    border: 1px solid #FF52C1;
}

.btn:hover {
    cursor: pointer;
    color: #FF8ED7;
    border: 1px solid #FF8ED7;
}

.main {
    height: 1157px;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.m1 {
    width: 1014px;
    height: 72px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #00252E;
}

.m2 {
    width: 600px;
    height: 90px;
    font-size: 20px;
    line-height: 30px;
    color: #00252E;
}

.m3 {
    width: 400px;
    height: 80px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: white;
    background-color: #FF52C1;
    border-radius: 40px;
    border: none;
}

.m3:hover {
    cursor: pointer;
    background-color: #FF8ED7;
}

.m4 {
    margin-top: 20px;
}



.cat {
    width: 55vw;
    height: 222px;
    display: flex;
    justify-content: space-between;
}

.bc1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 222px;
    width: 287px;
}

.bc2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 222px;
    width: 287px;
}

.c6 {
    width: 49px;
    height: 49px;
}

.c2 {
    font-size: 96px;
    font-weight: 700;
    line-height: 144px;
    color: #00252E;
}

.c4 {
    width: 287px;
    height: 144px;
    font-size: 96px;
    font-weight: 700;
    line-height: 144px;
    color: #00252E;
}

.c5 {
    width: 166px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    color: #808E9A;
}

.c3 {
    width: 243px;
    height: 36px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #808E9A;
}


.grow {
    width: 100vw;
    height: 842px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.gb1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 520px;
    height: 158px;
    z-index: 1;
}

.gb2 {
    z-index: 1;
}

.g1 {
    width: 300px;
    height: 60px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: #00252E;
}

.g2 {
    width: 520px;
    height: 72px;
    line-height: 24px;
    color: #00252E;
}

.gimg {
    width: 534px;
    height: 404px;
}

.bck1 {
    z-index: 0;
    align-items: center;
    width: 120vw;
    height: 841.16px;
    position: absolute;
}

.flowing {
    width: 75vw;
    height: 560px;
    display: flex;
    align-items: center;
}

.fcont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 250px;
}

.ppl {
    width: 531px;
    height: 378px;
}

.fb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 520px;
    height: 134px;
}

.f1 {
    width: 471px;
    height: 60px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: #00252E;
}

.f2 {
    width: 520px;
    height: 48px;
    line-height: 24px;
    color: #00252E;

}

.ready {
    width: 50vw;
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.r1 {
    width: 684px;
    height: 60px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: #00252E;
}

.r2 {
    width: 400px;
    height: 80px;
    background-color: #FF52C1;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: white;
    border-radius: 40px;
    border: none;
}

.r2:hover {
    cursor: pointer;
    background-color: #FF8ED7;
}

.end {
    width: 100vw;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bck3 {
    width: 100vw;
    height: 720px;
    position: absolute;
    z-index: 0;
}

.conteb {
    display: flex;
    position: relative;
    margin-top: 120px;
    column-gap: 340px;
}


.be {
    width: 520px;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.be1 {
    width: 520px;
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.co5 {
    width: 154px;
    height: 36px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: white;
}

.co6 {
    width: 344px;
    height: 72px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: white;
}

input {
    width: 320px;
    height: 48px;
    color: #00252E;
    line-height: 24px;
    border-radius: 6px;
}

input:hover {
    cursor: pointer;
}

.emailb {
    width: 160px;
    height: 48px;
    background-color: #FF52C1;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 5px;
    color: white;
}

.emailb:hover {
    background-color: #FF8ED7;
    cursor: pointer;
}

.co7 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
}

.last {
    display: flex;
    column-gap: 40px;
}

.co2 {
    width: 340px;
    height: 72px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: white;
}

.co3 {
    width: 250px;
    height: 24px;
    line-height: 24px;
    color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.co4 {
    width: 250px;
    height: 24px;
    line-height: 24px;
    color: white;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}


.icon {
    width: 20px;
    height: 20px;
}

.soc {
    width: 144px;
    height: 32px;
}

@media (max-width: 600px){

    .container {
        height: 600vh;
        overflow: hidden;
        align-items: center;
    }

    .logo1 {
        width: 96px;
        height: 16px;
    }

    .btn {
        width: 80px;
        height: 23.5px;
        font-size: 9.4px;
        border-radius: 12px;
       
    }
    .main {
        height: 581px;
        width: 85vw;
    }
    
    
    .m1 {
        width: 280px;
        font-size: 24px;
        line-height: 36px;
    }
    
    .m2 {
        width: 296px;
        height: 84px;
        font-size: 14px;
        line-height: 21px;
    }
    
    .m3 {
        width: 200px;
        height: 40px;
        font-size: 12px;
        line-height: 18px;
        border-radius: 20px;
    }
    
    
    .m4 {
        width: 296px;
        height: 209px;
    }

   
    .cat {
        width: 40vw;
        height: 356px;
        flex-direction: column;
    }
    
    .bc1 {
        height: 142px;
        width: 160px;
    }
    
    .bc2 {
        height: 160px;
        width: 126px;
    }
    
    
    .c1 {
        height: 21px;
        width: 32px;
    }
    
    .c6 {
        width: 28px;
        height: 29px;
    }
    
    .c2 {
        height: 92px;
        width: 160px;
        font-size: 61px;
        line-height: 91.5px;
    }
    
    .c4 {
        width: 160px;
        height: 81px;
        font-size: 53.5px;
        line-height: 80px;
    }
    
    .c5 {
        width: 93px;
        height: 21px;
        font-size: 13.3px;
        line-height: 20px;
    }
    
    .c3 {
        width: 155px;
        height: 23px;
        font-size: 15.25px;
        line-height: 22.8px;
    }

    .grow {
        width: 100vw;
        height: 763px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .gb1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 520px;
        height: 158px;
        z-index: 1;
        margin-left: 45%;
    }
    
    .gb2 {
        z-index: 1;
    }
    
    .g1 {
        width: 152px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }
    
    .g2 {
        font-size: 14px;
        width: 320px;
        height: 84px;
        line-height: 21px;
    }
    
    .gimg {
        width: 280px;
        height: 280px;
    }
    
    .bck1 {
        width: 789px;
        height: 763px;
    }


    .flowing {
        width: 85vw;
        height: 429px;
    }
    
    .fcont {
        column-gap: 250px;
        flex-direction: column;
    }
    
    .ppl {
        width: 265.5px;
        height: 189px;

    }
    
    .fb {
        width: 85vw;
        height: 134px;
    }
    
    .f1 {
        width: 236px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }
    
    .f2 {
        width: 320px;
        height: 63px;
        line-height: 21px;
        font-size: 14px;    
    }

    .ready {
        width: 90vw;
        height: 152px;
        row-gap: 40px;
    }
    
    .r1 {
        width: 344px;
        height: 72px;
        font-size: 24px;
        line-height: 36px;
    }
    
    .r2 {
        width: 200px;
        height: 40px;
        font-size: 12px;
        line-height: 18px;
        border-radius: 20px;
    }


    .end {
        width: 100vw;
        height: 858px;
    }
    
    .bck3 {
        width: 100vw;
        height: 858px;
    }
    
    .conteb {
       height: 700px;
       width: 90vw;
       flex-direction: column-reverse;
       align-items: center;
       justify-content: center;
       row-gap: 104px;
    }
    
    
    .be {
        width: 85vw;
        height: 318px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .be1 {
        width: 85vw;
        height: 286px;
    }
    
    .co5 {
        width: 128px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }
    
    .co6 {
        width: 320px;
        height: 96px;
    }
    
    input {
        width: 320px;
        height: 48px;
    }

    .lastbtn {
        display: flex;
        justify-content: flex-end;
        width: 320px;
        
    }
    
    .emailb {
        width: 160px;
        height: 48px;
        background-color: #FF52C1;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        border-radius: 5px;
        color: white;
    }
    
    .co1 {
        width: 200px;
        height: 32px;
    }

    .co7 {
        display: flex;
        justify-content: space-between;
    }
    
    .co2 {
        width: 320px;
        height: 72px;
        font-size: 14px;
    }
    
    .co3 {
        width: 250px;
        height: 24px;
    }
    
    .co4 {
        width: 201px;
        height: 24px;
    }

    .last {
        flex-direction: column;
    }
    
    
    .icon {
        width: 24px;
        height: 24px;
    }
    
    .soc {
        width: 104px;
        height: 23px;
    }
}
